* {
  box-sizing: border-box;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif;
  background-color: #f5f5f5;
  color: #111;
  margin: 0;
  padding: 0;
}

.changelog {
  border: 3px solid black;
  border-radius: 20px;
  margin: 50px auto;
  width: 700px;
}

.title-container {
  margin-bottom: 30px;
}

.title-text {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.title-desc {
  color: gray;
  text-align: center;
}

.timeline-container {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.timeline-container::before {
  content: "";
  position: absolute;
  left: 180px; /* date width + gap */
  top: 0;
  bottom: 0;
  width: 3px;
  background: black;
}

.timeline-row {
  display: flex;
  gap: 20px;
  position: relative;
}

.timeline-date {
  text-align: right;
  width: 160px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: gray;
  padding-left: 15px;
  font-weight: 500;
}
.timeline-desc {
  flex: 1;
  padding: 30px 20px;
  font-weight: 500;
}

.div-dot {
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: black;
  border-radius: 50%;
  left: 173px;
  top: 30px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container button {
  background-color: black;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 50px;
  margin-top: 20px;
}

@media (max-width: 480px) {
  .title-desc {
    padding-left: 20px;
    padding-right: 20px;
  }

  .changelog {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    border: none;
  }

  .timeline-row {
    gap: 15px;
  }

  .timeline-date {
    flex-shrink: 0;
    width: 100px;
    padding: 30px 0 30px 10px;
  }

  .timeline-desc {
    padding: 30px 15px;
  }

  .timeline-container::before {
    left: calc(100px + 15px);
  }
  .div-dot {
    left: calc(115px - 7px);
  }
}
