body {
  font-family: Arial, Helvetica, sans-serif;
}

.timeline-container{
  padding: 50px;
}

.timeline-row {
  display: flex;
  gap: 20px;
}

.timeline-date{
  text-align: right;
  width: 150px;
}
.timeline-desc {
  /* padding: 50px 0px 0px 10px; */
  width: 500px;
}

.div-line {
  width: 0;
  position: relative;
  height: auto;
  border-left: solid 3px black;
}

.div-dot {
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: black;
  border-radius: 50%;
  left: -9.5px;
  /* top: 50px; */
}
