* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.changelog {
  border: 3px solid black;
  border-radius: 20px;
  margin: 50px auto;
  width: 700px;
}

.title-container {
  margin-bottom: 30px;
}

.title-text {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.title-desc {
  color: gray;
  text-align: center;
}

.timeline-container {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.timeline-container::before {
  content: "";
  position: absolute;
  left: 180px; /* date width + gap */
  top: 0;
  bottom: 0;
  width: 3px;
  background: black;
}

.timeline-row {
  display: flex;
  gap: 20px;
  position: relative;
}

.timeline-date {
  text-align: right;
  width: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: gray;
  padding-left: 15px;
}
.timeline-desc {
  width: 500px;
  padding: 30px 20px;
}

.div-dot {
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: black;
  border-radius: 50%;
  left: 173px;
  top: 30px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container button {
  background-color: black;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  margin-bottom: 50px;
  margin-top: 20px;
}
