* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-title {
  text-align: center;
  padding: 30px;
  font-size: 32px;
  font-weight: bold;
}

.testimonial-cards {
  display: flex;
  max-width: 1500px;
  gap: 20px;
}

.card-1 {
  max-width: 450px;
  /* outline: solid 2px red; */
}

.text-area {
  background-color: #0f172a;
  color: #f5f5f5;
  font-size: 22px;
  padding: 20px 30px;
  margin: 10px;
  border-radius: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
  position: relative;
}
.text-area :nth-child(1) {
  margin-bottom: 20px;
}

.triangle {
  position: absolute;
  width: 60px;
  height: 30px;
  background: #0f172a;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  left: 20px;
  bottom: -15px;
}

.user-info,.user-info-card-2 {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.user-info-img,
.user-info-img-card-2 {
  width: 100px;
  text-align: center;
}

.user-img {
  width: 80px;
  height: 80px;
  object-fit: fill;
  border-radius: 50%;
}

.user-info-name {
  flex: 1fr;
  padding-left: 5px;
}
.user-name {
  font-size: 24px;
}

.user-role {
  font-size: 18px;
}

.card-2 {
  box-sizing: border-box;
  max-width: 450px;
  border: solid 3px black;
  border-radius: 20px;
  /* padding: 20px; */
}
.text-area-card-2 {
  font-size: 22px;
  font-weight: 500;
  margin: 10px;
  border-radius: 22px;
  line-height: 1.5;
  padding: 20px;
}
.user-info-card-2{
  padding: 0px 20px 5px 20px;
}
.user-info-img-card-2 {
  text-align: left;
}
