body {
  font-family: ui-sans-serif, system-ui, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  padding: 0;
  margin: 0;
}

.project-title {
  font-size: 26px;
  font-weight: 600;
  margin: 20px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}
.sub-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}

.faq {
  width: 100%;
  max-width: 600px;
}

.questions {
  box-sizing: border-box;
  cursor: pointer;
}

.question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.drop-down-icon {
  margin-right: 8px;
  transition: transform 0.25s ease;
}
.answer {
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease;
}

.answer .decor {
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.drop-down-icon.active {
  transform: rotate(-180deg);
}
