* {
  padding: 0;
  margin: 0;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 40px;
}
.datepicker {
  width: 280px;
  height: auto;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.input-section {
  display: flex;
  align-items: center;
}
.input-date {
  height: 40px;
  outline: none;
  flex: 1;
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid black;
  box-sizing: border-box;
  line-height: 40px;
}

.icon-button {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid black;
}
i.fa-calendar {
  font-size: 26px;
}

.top-grid {
  border: solid 1px black;
}

.month-year,
.weeks {
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

.bottom-grid {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  text-align: center;
}

.bottom-grid p {
  font-weight: 500;
  padding: 5px;
  border: 1px solid black;
}
