* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-title {
  text-align: center;
  padding: 30px;
  font-size: 32px;
  font-weight: bold;
}

.testimonial-cards {
  display: flex;
  max-width: 920px;
  min-width: 340px;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  /* outline: 2px solid red; */
  justify-content: center;
  align-items: center;
}
.space {
  /* outline: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-1 {
  max-width: 450px;
  min-width: 360px;
  /* outline: solid 2px red; */
}

.text-area {
  background-color: #0f172a;
  color: #f5f5f5;
  font-size: 22px;
  padding: 20px 30px;
  margin: 10px;
  border-radius: 30px;
  line-height: 1.5;
  margin-bottom: 20px;
  position: relative;
}
.text-area :nth-child(1) {
  margin-bottom: 20px;
}

.triangle {
  position: absolute;
  width: 60px;
  height: 30px;
  background: #0f172a;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  left: 20px;
  bottom: -15px;
}

.user-info,
.user-info-card-2 {
  display: flex;
  align-items: center;
}

.user-info-img,
.user-info-img-card-2 {
  width: 100px;
  text-align: center;
}

.user-img {
  width: 80px;
  height: 80px;
  object-fit: fill;
  border-radius: 50%;
}

.user-info-name {
  flex: 1fr;
  padding-left: 5px;
}
.user-name {
  font-size: 24px;
}

.user-role {
  font-size: 18px;
}

/* here is card-2 */

.card-2 {
  box-sizing: border-box;
  max-width: 450px;
  min-width: 350px;
  border: solid 3px black;
  border-radius: 30px;
}
.text-area-card-2 {
  font-size: 22px;
  font-weight: 500;
  margin: 10px;
  border-radius: 22px;
  line-height: 1.5;
  padding: 20px;
}
.user-info-card-2 {
  padding: 0px 20px 5px 20px;
}
.user-info-img-card-2 {
  text-align: left;
}

/* here is card-3 */

.card-3 {
  display: flex;
  max-width: 920px;
  min-width: 340px;
}

.card-3-img-container {
  max-width: 360px;
  min-width: 150px;
  height: 300px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 30px;
}
.card-3-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 50%;
  transform: scale(1.2);
}

.card-3-details {
  max-width: 600px;
  min-width: 190px;
  border: solid 3px black;
  padding: 40px;
  border-radius: 30px;
  background-color: black;
  color: white;
}
.card-3-star-img {
  width: 150px;
}

.card-3-name {
  font-size: 32px;
  padding: 10px 0;
}
.card-3-subname {
  font-size: 22px;
  color: rgb(150, 150, 150);
  padding-bottom: 20px;
}
.card-3-comment {
  font-size: 20px;
}

/* here is the card-4 */

.card-4 {
  max-width: 920px;
  min-width: 350px;
  text-align: center;
  padding: 30px 40px;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 30px;
}
.card-4-comment {
  font-size: 24px;
  padding: 20px 40px 30px 40px;
}

.card-4-img-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-4-img-1,
.card-4-img-2,
.card-4-img-3 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0 10px;
}
.card-4-img-1,
.card-4-img-3 {
  transform: scale(0.8);
  opacity: 0.7;
}

.card-4-sign {
  padding: 0 50px;
  font-weight: bold;
}
.card-4-name {
  font-size: 28px;
}

@media (max-width: 480px) {

  .card-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px solid black;
    border-radius: 30px;
    background-color: black;
    border-top-left-radius: 0;
  }
  .card-3-img-container {
    max-width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    margin-top: 10px;
  }
  .card-3-img {
    object-fit: fill;
    object-position: center 0%;
    transform: scale(1.3);
    display: block;
    flex-shrink: 0;
  }

  .card-4-comment {
    font-size: 18px;
    padding: 0;
  }
  .card-4-img-1,
  .card-4-img-2,
  .card-4-img-3 {
    padding: 0 5px;
  }
  .card-4-sign {
    padding: 0 25px;
  }
  .card-4-name {
    font-size: 22px;
  }
}
