*{
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.profile-img{
  width: 50px;
  border-radius: 50%;
  display: block;
}

.navbar-container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 30px 100px;
}

.navbar-section1, .navbar-section2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  font-size: 18px;
  font-weight: 500;
}
.navbar-section1{
  gap: 15px;
}

.title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 100px;
}

.title-text{
  font-size: 40px;
  font-weight: 600;
}
.title-desc{
  font-size: 16px;
  font-weight: 500;
  color: grey;
}

.middle-container{
  display: flex;
  justify-content: space-between;
  margin: 0px 100px;
}

.middle-first-section{
  width: 25%;
  padding-right: 50px;
} 
.middle-second-section{
  width: 40%;
  padding: 0px 50px;
}
.middle-third-section {
  width: 35%;
  padding-left: 50px;
}

.middle-title{
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
}
.project-list{
  line-height: 2;
}

.work{
  padding: 15px 0;
}

.work-info{
  padding: 8px 0;
}

.courses-list{
  margin: 10px;
}

.course-i-took{
  padding: 8px 0;
  font-weight: 500;
}

.review-title{
  font-size: 18px;
  font-weight: 500;
  margin-left: 100px;
}

.review-container{
  display: flex;
  margin: 20px 100px;
  align-items: center;
  margin: 20px 100px;
  margin-bottom: 200px;
}

.teachers-reviews{
  padding: 20px 20px;
  border: solid 2px black;
  margin-right: 40px;
  border-radius: 40px;
}

.teacher-review{
  margin-bottom: 10px;
}

.teacher-name{
  color: grey;
}

footer{
  text-align: center;
}


@media (max-width: 1000px){

  .navbar-container{
    flex-direction: column;
    margin: 0;
    margin-top: 40px;
  }

  .navbar-section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-section2{
    margin-top: 20px;
  }

  .middle-container{
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin: 0;
    margin-bottom: 50px;
  }
  .middle-first-section{
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .middle-second-section,.middle-third-section{
    width: 80%;
    padding: 0px 0px 0px 100px;
  }
  .title-container{
    margin: 40px 0;
  }
  .review-container{
    margin: 40px;
    flex-direction: column;
    gap: 20px;
  }
  .teachers-reviews{
    margin: 0;
  }
}

@media (max-width: 600px){

  .portfolio-name{
    font-size: 20px;
  }

  .navbar-section2{
    font-size: 16px;
  }

  .title-text{
    font-size: 30px;
  }
  .title-desc{
    font-size: 16px;
  }
  .middle-second-section,.middle-third-section{
    width: 80%;
    padding: 0px 0px 0px 40px;
  }

}


