* {
  padding: 0;
  margin: 0;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

.main-area {
  width: min(600px, calc(100% - 20px));
  margin: auto;
  position: relative;
}

.input-area {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 15px;
  font-size: 16px;
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-weight: 500;
  box-sizing: border-box;

  resize: none;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.input-area:focus {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  outline: none;
}

.text-limit {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.btn-wrap{
  display: flex;
  justify-content: center;
}

.btn-wrap button{
  padding: 15px 50px;
  background-color: black;
  color: white;
  font: inherit;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: transform .15s ease;
}

.btn-wrap button:active{
  transform: scale(0.9);
}