* {
  padding: 0;
  margin: 0;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.project-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 40px;
}

.tabs {
  width: min(700px, calc(100% - 20px));
  margin: 10px auto;
  border: 3px black solid;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
}

.tab {
  font: inherit;
  background-color: white;
  color: gray;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.active-tab {
  color: black;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.tab-list {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
  text-wrap: nowrap;
  flex-wrap: wrap;
}

.content{
  display: none;
}

.active-content {
  display: block;
}

.content p {
  font-size: 18px;
  font-weight: 500;
}

.tab-content {
  background-color: black;
  color: white;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  margin: 10px 0;
}

