* {
  padding: 0;
  margin: 0;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.project-title {
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
}

.image-grid-layout {
  max-width: 950px;
  min-width: 0;
  margin: 0 auto;
  column-count: 3;
  column-gap: 12px;
  padding: 5px;
  box-sizing: border-box;
}

.image-grid-layout img {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 10px;
  display: inline-block;
}

@media (max-width: 460px) {

  .image-grid-layout {
    width: 100%;
    column-count: 2;
  }
}
