body{
  font-family: ui-sans-serif, system-ui, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p{
  padding: 0;
  margin: 0;
}
h1{
  margin-bottom: 50px;
}

.age-finder{
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.age-finder-title{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.age-finder-input{
  font: inherit;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  border: 3px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
}

.age-finder-input:focus{
  outline: none; 
}

.age-finder-button{
  background-color: black;
  color: white;
  font: inherit;
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 6px;  
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.15s ease;
}
.age-finder-button:active{
  transform: scale(0.9);
}

.age-result{
  font-weight: 500;
}

.bold-text{
  font-weight: bold;
}
.error{
  color: red;
}
